@use './reset';
@use './variables/nord.css';
@use './variables/globals';
@use './theme/light';
@use './theme/dark';

body {
  font: var(--font-m);
  background: var(--bg-main);
  color: var(--color-primary);
}

.app {
  min-height: 100vh;
}

.transition-15 {
  transition: all 0.15s;
}

.font {
  &-m {
    font: var(--font-m);
  }

  &-l {
    font: var(--font-l);
  }
}
