@use './reset';
@use './variables/nord.css';
@use './variables/globals';
@use './theme/light';
@use './theme/dark';

body {
  font: var(--font-m);
  background: var(--bg-main);
  color: var(--primary-color);
}

.app {
  min-height: 100vh;
}

.transition-15 {
  transition: all 0.15s;
}
