.dark-theme,
[data-theme='dark-theme'] {
  --bg-main: var(--nord0);
  --bg-secondary: var(--nord1);
  --bg-accent: var(--nord2);
  --primary-color: var(--nord4);
  --secondary-color: var(--nord5);
  --active-color: var(--nord2);
  --bg-overlay: rgba(59 66 82 / 50%);
  --color-shadow: none;
}
