:root {
  --bg-main: var(--nord6);
  --bg-secondary: var(--nord5);
  --bg-accent: var(--nord4);
  --primary-color: var(--nord0);
  --secondary-color: var(--nord1);
  --active-color: var(--nord4);
  --bg-overlay: rgba(216 222 233 / 50%);
  --color-shadow: var(--nord3);
}
