.BaseLink {
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
  transition: all 1s;
  display: inline-block;
  padding: 2px 7px;
  border-bottom: 2px solid var(--transparent-color);
  border-top: 2px solid var(--transparent-color);

  &:hover {
    color: var(--secondary-color);
    animation: link-hover 1s;
    animation-timing-function: ease-out;
  }
}

@keyframes link-hover {
  100% {
    border-color: var(--transparent-color);
  }

  0% {
    border-color: var(--active-color);
  }
}
